In [65]:
#import libraries
import pandas as pd
import os

Task # 1: Merge the 12 months of sales data into a single CSV file

In [66]:
data= pd.read_csv('./Sales_April_2019.csv')
#Read all files from directory

In [67]:
#Load Datasets into pandas dataframes
data1 = pd.read_csv('./Sales_April_2019.csv')
data2= pd.read_csv('./Sales_August_2019.csv')
data3= pd.read_csv('./Sales_December_2019.csv')
data4 = pd.read_csv('./Sales_February_2019.csv')
data5= pd.read_csv('./Sales_January_2019.csv')
data6= pd.read_csv('./Sales_July_2019.csv')
data7= pd.read_csv('./Sales_June_2019.csv')
data8= pd.read_csv('./Sales_March_2019.csv')
data9=pd.read_csv('./Sales_May_2019.csv')
data10=pd.read_csv('./Sales_November_2019.csv')
data11=pd.read_csv('./Sales_October_2019.csv')
data12=pd.read_csv('./Sales_September_2019.csv')
#Concatenate the data-frames vertically using the concat() function
merged_data =  pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12])
#Save the merged data to a new file
merged_data.to_csv('merged_sales_data.csv', sep=',', index=False)
merged_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

Clean Data

In [68]:
merged_data.head()
#Drop rows with NAN
merged_data = merged_data.dropna()

Check and Remove Duplicates

In [69]:
#Check duplicates
merged_data.duplicated()
# Remove the duplicats
merged_data.drop_duplicates()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

Check and Fill missing values

In [70]:
# check for missing values
print(merged_data.isnull().sum())
#Handle missing values
merged_data.fillna(method='ffill', inplace=True)

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

Display and convert Data types

In [88]:
merged_data.dtypes
#convert data types
# Replace non-numeric values with NaN
merged_data['Price Each'] = pd.to_numeric(merged_data['Price Each'], errors='coerce')

# Replace NaN values with 0
merged_data['Price Each'].fillna(0, inplace=True)

# Convert to float data type
merged_data['Price Each'] = merged_data['Price Each'].astype('float')


# Remove non-numeric characters from 'Quantity Ordered' column
merged_data['Quantity Ordered'] = merged_data['Quantity Ordered'].str.replace('[^0-9]', '')

# Convert to integer data type
merged_data['Quantity Ordered'] = merged_data['Quantity Ordered'].astype('int')



merged_data.head()

C:\Users\chris\AppData\Local\Temp\ipykernel_5604\141715858.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  merged_data['Quantity Ordered'] = merged_data['Quantity Ordered'].str.replace('[^0-9]', '')

ValueError: invalid literal for int() with base 10: ''

Check and Remove outliers

In [72]:
#Check for outliers
merged_data.describe()
#Remove outliers
Q1 = merged_data.quantile(0.25)
Q3 = merged_data.quantile(0.75)
IQR = Q3 - Q1
merged_data = merged_data[~((merged_data < (Q1 - 1.5 * IQR)) |(merged_data > (Q3 + 1.5 * IQR))).any(axis=1)]

C:\Users\chris\AppData\Local\Temp\ipykernel_5604\109357710.py:4: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q1 = merged_data.quantile(0.25)
C:\Users\chris\AppData\Local\Temp\ipykernel_5604\109357710.py:5: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Q3 = merged_data.quantile(0.75)
C:\Users\chris\AppData\Local\Temp\ipykernel_5604\109357710.py:7: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  merged_data = merged_data[~((merged_data < (Q1 - 1.5 * IQR)) |(merged_data > (Q3 + 1.5 * IQR))).any(axis=1)]

Augment Data with additional columns

In [85]:
#Add Month Column
merged_data['Month']=merged_data['Order Date'].str[0:2]

merged_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [74]:
merged_data.to_csv('merged_sales_data.csv', sep=',', index=False)

Question1: What was the best month for sales? How much was earned that month

In [89]:
#Add a sales column
merged_data['Sales']= merged_data['Quantity Ordered'] * merged_data['Price Each']

TypeError: can't multiply sequence by non-int of type 'float'

# Minute 29